.ac{
	background:#F89165;
	font-family: "楷体";
	font-size: 20px;
	margin-top:8px;
	width:100px;
	border-radius:8px;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
}
.container{
	width:100px;
	text-align:center;
	background-color:#f1f1f1;
	padding:0px;
	float:left;
	margin-left:30px;
}
.right{
	margin-left:200px;
	margin-right:50px;
	margin-top:8px;
	margin-bottom:30px;
}
